<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    

    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!--font awesome-->
    <script src="https://kit.fontawesome.com/76c721963f.js" crossorigin="anonymous"></script>
    <!--js-->
    <script src="index.js"></script>
    <!--css-->
    <link rel="stylesheet" href="styles/main.css">

</head>

</html>